<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470626297371-d3a25guc4818f7kgmd8vbh8bfebi573k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470626297371-d3a25guc4818f7kgmd8vbh8bfebi573k</string>
	<key>API_KEY</key>
	<string>AIzaSyB5l__9NfqmhmM_QKUifNZKMu2GEAn3OT4</string>
	<key>GCM_SENDER_ID</key>
	<string>470626297371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.greenlightMessenger</string>
	<key>PROJECT_ID</key>
	<string>greenlight-75629</string>
	<key>STORAGE_BUCKET</key>
	<string>greenlight-75629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470626297371:ios:b7e5385c84a5bc224ebabe</string>
	<key>DATABASE_URL</key>
	<string>https://greenlight-75629.firebaseio.com</string>
</dict>
</plist>